# Statistical Analysis

In [4]:
import pandas as pd
import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data

In [2]:
# import data
train_data = pd.read_csv('MNIST_train.csv', index_col='ID')
train_data_unlabeled = train_data.drop(' Label', axis=1)

mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

Successfully downloaded train-images-idx3-ubyte.gz 9912422 bytes.
Extracting MNIST_data/train-images-idx3-ubyte.gz
Successfully downloaded train-labels-idx1-ubyte.gz 28881 bytes.
Extracting MNIST_data/train-labels-idx1-ubyte.gz
Successfully downloaded t10k-images-idx3-ubyte.gz 1648877 bytes.
Extracting MNIST_data/t10k-images-idx3-ubyte.gz
Successfully downloaded t10k-labels-idx1-ubyte.gz 4542 bytes.
Extracting MNIST_data/t10k-labels-idx1-ubyte.gz

In [8]:
len(mnist.train.images)
len(test_data)

60000

**Naive statistical analysis**
Here, we just compute:
- prediction accuracy for each number, averaged over all algorithms
- accuracy of each algorithm
- accuracy of each algorithm for each number

In [4]:
# compute average accuracy
percent_correct = train_data
percent_correct['percent_correct'] = train_data_unlabeled.apply(lambda row: row.sum() / 21,1)

average_accuracy = pd.DataFrame(index=['percent_correct'])
for i in range(10):
    average_accuracy[i] = percent_correct.loc[percent_correct[' Label'] == i]['percent_correct'].mean()
    
print(f'The median accuracy is: {average_accuracy.median(axis=1)[0]}.')
print(f'The mean accuracy is:   {average_accuracy.mean(axis=1)[0]}.')

average_accuracy

The median accuracy is: 0.8606042023780981.
The mean accuracy is:   0.8670597106531208.

,0,1,2,3,4,5,6,7,8,9
percent_correct,0.897518,0.905362,0.850741,0.856436,0.864772,0.830316,0.88166,0.915099,0.822651,0.846041

In [7]:
# compute accuracy of each algorithm
train_data_unlabeled.mean()

ALG1     0.892033
ALG2     0.930117
ALG3     0.997100
ALG4     0.929567
ALG5     0.999133
ALG6     0.130767
ALG7     0.873233
ALG8     0.160017
ALG9     0.928833
ALG10    0.958700
ALG11    0.854950
ALG12    0.927900
ALG13    0.926367
ALG14    1.000000
ALG15    1.000000
ALG16    0.886683
ALG17    0.931333
ALG18    0.925483
ALG19    0.999117
ALG20    0.983583
ALG21    0.996517
dtype: float64

In [11]:
train_data.loc[train_data['ALG15']== 0]

Empty DataFrame
Columns: [ Label, ALG1, ALG2, ALG3, ALG4, ALG5, ALG6, ALG7, ALG8, ALG9, ALG10, ALG11, ALG12, ALG13, ALG14, ALG15, ALG16, ALG17, ALG18, ALG19, ALG20, ALG21, percent_correct]
Index: []

[0 rows x 23 columns]